body {
    font-family: 'Courier New';
}

body p {
    font-size: 20px;
}

h1 {
    font-family: Helvetica;
}

#play-button {
    font-size: 20px;
    /* font-family: 'Courier New'; */
    background: black;
    color: white;
    border: none;
    margin-bottom: 10px
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 180px
  }

.grid-item {
    height: 60px;
    border: 1px solid #000000;
   
}

.grid-item p {
    line-height: 0px;
    text-align: center;
    font-size: 30px 
}
